body{
    display: flex;
    justify-content: center;
}

.card {
   width: auto;
   margin: 2rem;
   padding: 2rem;
   
}

@media (max-width: 30rem) {
    body{
      flex-direction: column;
    }
  }